<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>

    <a href="/newitem" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>Back to Dashboard</a>

    <div class = "container addform">
      <div class = "row">
        <div class="form-group">

          <label>Post New Item</label>

          <label>Add Item</label>

          <form class="" action="/newitem/additem" method="post" enctype="multipart/form-data">
            <input class = "form-control" type="text" name="name" placeholder="item name">
            <input class = "form-control" type="text" name="description" placeholder="description">
            <label>Category:</label>
            <select class="form-control" type= "text" name="category">
              <option>Power Tools</option>
              <option>Pneumatic Tools</option>
              <option>Machine Tools</option>
            </select>
            <!-- <input class = "form-control" type="text" name="category" placeholder="category"> -->
            <label>Condition:</label>
            <select class="form-control" type= "text" name="condition">
              <option>Excellent</option>
              <option>Good</option>
              <option>Fair</option>
              <<option>Poor</option>
            </select>
            <input class = "form-control" type="file" name="image" value="test">
            <button class = "form-control btn-danger" type="submit">Post Item</button>
          </form>
        </div>
      </div>
  </div>

  <footer class="footertwo">
    <% include partials/footer %>
  </footer>

</body>
</html>
