<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>
  <div class="bgImage">
    <div class="imgOverlay">
      <div class="searchBox">
        <form method="post" action="/search">
          <input type="text" name="hello" id="hello">
          <button type="submit" id="search" value="Search">Search</button>
        </form>
      </div>
    <!-- end searchBox -->
    </div>
    <!-- end imgOverlay -->
  </div>
  <!-- end bgImage -->
  <footer class="footertwo">
    <% include partials/footer %>
  </footer>
</body>
</html>

<div class="collage"></div>
</div>
