<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>

  <% include partials/itemtile %>

  <footer class="footertwo">
    <% include partials/footer %>
  </footer>
</body>
</html>
